@charset "UTF-8";

.modal-dialog {
	position: relative;
	top: 30%;
	transform: translateY(-50%) !important;
	margin: 0 auto;
}

.modal {
	padding-right: 0 !important;
}


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: inline-block;
    padding: 8px 12px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #dee2e6;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* Ensure the container has enough space */
.container {
    padding-bottom: 3rem;
}

.modal-header{
	background: linear-gradient(135deg, #1e88e5, #1565c0);
}