<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/ms/addAdminForm.css}" rel="stylesheet" />
<link th:href="@{/css/ms/sidebar.css}" rel="stylesheet" />

<style>
	.idDiv {
		margin-bottom: 16px;
	}
</style>

<div layout:fragment="content">
	<aside class="sidebar">
    	<nav class="nav">
      		<ul>
        		<li><a href="javascript:goAttendance()">근태 확인</a></li>
        		<th:block th:if="${#authentication.authorities[0].authority.equals('ROLE_SUPER_ADMIN')}">
        			<li><a th:href="|@{/sudo/allUserList}|">인사관리</a></li>
        			<li><a th:href="|@{/sudo/addAdmin}|" class="active">직원 등록</a></li>
        		</th:block>
        		<th:block th:if="${#authentication.authorities[0].authority.equals('ROLE_MANAGER')}">
        		<li><a th:href="|@{/shop/list}|">매장관리</a></li>
        		</th:block>
        		<li><a href="javascript:goMessagesInbox()">메시지 확인</a></li>
        		<li><a th:href="|@{/sudo/logout}|">로그아웃</a></li>
      		</ul>
    	</nav>
  	</aside>

	<section class="d-flex vh-100">
	    <div class="container-fluid row justify-content-center align-content-center">
	        <div class="card" style="border-radius: 1rem;">
	            <div class="card-body p-5 text-center">
					<form th:action="@{/sudo/addAdmin}" method="post" id="form" class="form">
						<div class="form-group input-group idDiv">
							<input type="text" name="id" id="id" class="form-control mt-1" placeholder="ID" required>
						</div>
						<label id="idLabel"></label>
						<div class="form-group input-group">
							<div class="input-group-prepend"><span class="input-group-text">비밀번호</span></div>
							<input type="text" name="password" class="form-control" placeholder="7자리 이상의 영어•숫자 조합" required>
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend"><span class="input-group-text">이름</span></div>
							<input type="text" name="name" class="form-control" placeholder="이름" required>
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend"><span class="input-group-text">주민등록번호</span></div>
							<input type="text" name="ssnFront" class="form-control ssnFront" placeholder="앞 6자리" required><span> − </span><input type="password" name="ssnEnd" class="form-control ssnEnd" placeholder="뒤 7자리" required>
						</div>
						<div class="form-group input-group">
							<input type="text" class="form-control" value="010" readonly> -
							<input type="text" name="phone1" class="form-control phone1" placeholder="핸드폰 앞자리" size="5" required> -
							<input type="text" name="phone2" class="form-control phone2" placeholder="핸드폰 뒷자리" size="5" required>
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend"><span class="input-group-text">이메일</span></div>
							<input type="email" name="email" class="form-control email" placeholder="이메일" required>
						</div>
<!-- 						<div class="form-group input-group justify-content-center">
							<span class="mr-2">지역 선택: </span>
							<select name="location" id="location">
								<option value="Seoul">서울</option>
								<option value="Busan">부산</option>
								<option value="Incheon">인천</option>
								<option value="Jeju">제주</option>
							</select>
						</div> -->
						<div class="form-group input-group">
							<div class="input-group-prepend"><span class="input-group-text">상세주소</span></div>
							<input type="text" name="address" id="address" class="form-control address" placeholder="상세 주소" required readonly>
							<button type="button" class="btn btn-success ml-2" onclick="searchAddress()">주소 검색</button>
						</div>
						<div class="form-group input-group">
							<div class="input-group-prepend"><span class="input-group-text">연봉</span></div>
							<input type="text" name="annualSalary" class="form-control" placeholder="연봉" required>
						</div>
						<div class="form-group input-group justify-content-center">
							<!-- <div class="input-group-prepend"><span class="input-group-text">직원 유형</span></div> -->
							<div class="form-check form-check-inline">
								<input type="radio" name="job" value="hr" required class="form-check-input" id="job1"/>
								<label for="job1" class="form-check-label">인사</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" name="job" value="manager" class="form-check-input" id="job2" required/>
								<label for="job2" class="form-check-label">쇼핑몰 매니저</label>
							</div>
						</div>
						<div class="form-group input-group mt-sm-1 justify-content-center">
							<!-- <button class="btn btn-primary addAdminBtn">관리자 추가</button> -->
							<input type="submit" class="btn btn-primary buttonSubmit" value="직원 등록" />
							<!-- <button class="btn btn-success goBackBtn ml-2" >이전</button> -->
						</div>
					</form>
	            </div>
	        </div>
	    </div>
	</section>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script layout:fragment="script" th:inline="javascript">
	const form = document.querySelector("#form")

/* 	document.querySelector(".addAdminBtn").addEventListener("click", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	    
	    form.action = `/sudo/addAdmin`
	    form.method = 'post'
	    form.submit()
	}, false) */
	
	document.querySelector(".ssnFront").addEventListener("keyup", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	
	    const val = document.querySelector(".ssnFront").value
	    
	    if(val.length == 6) {
	    	document.querySelector(".ssnEnd").focus()
	    }
	}, false)
	
	document.querySelector(".ssnEnd").addEventListener("keyup", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	
	    const val = document.querySelector(".ssnEnd").value
	    
	    if(val.length >= 7) {
	    	document.querySelector(".ssnEnd").value = val.substring(0, 7)
	    }
	}, false)
	
	document.querySelector(".phone1").addEventListener("keyup", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	
	    const val = document.querySelector(".phone1").value
	    
	    if(val.length == 4) {
	    	document.querySelector(".phone2").focus()
	    }
	}, false)
	
	document.querySelector(".phone2").addEventListener("keyup", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	
	    const val = document.querySelector(".phone2").value
	    
	    if(val.length == 4) {
	    	document.querySelector(".email").focus()
	    }
	}, false)
	
/* 	document.querySelector(".goBackBtn").addEventListener("click", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	    
		location.href = "/sudo/allUserList"
	}, false) */
	
	function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                   //  document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                   // document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                // document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                // document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
	
	$(document).ready(function() {
		$("#idLabel").css("display", "none");
		$(".buttonSubmit").css("display", "none");
    	//ID 중복 확인
    	//id를 입력할 수 있는 input text 영역을 벗어나면 동작한다.
    	$("#id").on("focusout", function() {
    		var id = $("#id").val();
    		
    		if(id == '' || id.length == 0) {
    			$("#idLabel").css("color", "red").text("공백은 ID로 사용할 수 없습니다.");
    			return false;
    		}
    		
    		
    		var csrfToken = $("input[name='_csrf']").val(); // CSRF 토큰 가져오기
    		
        	//Ajax로 전송
        	$.ajax({
        		url : '/user/confirmId',
        		data : {
        			id : id
        		},
        		type : 'GET',
        		headers: { "X-CSRF-TOKEN": csrfToken }, // CSRF 토큰 추가
        		// dataType : 'json',
        		success : function(result) {
        			$("#idLabel").css("display", "inline-block");
        			$(".buttonSubmit").css("display", "inline-block");
        			
        			if (result == true) {
        				$("#idLabel").css("color", "blue").text("사용 가능한 ID 입니다.");
        				$(".idDiv").css("margin-bottom", "4px");
        			} else{
        				$("#idLabel").css("color", "red").text("사용 불가능한 ID 입니다.");
        				$(".idDiv").css("margin-bottom", "4px");
        				$("#id").val('');
        			}
        		},
        		error: function(xhr, status, error) {
                    console.error("AJAX 오류:", error); // 오류 메시지 확인
                }
        	}); //End Ajax
    	});
    })
    	
	function goAttendance() {
		const form = document.createElement('form')
		const id = /*[[${#authentication.name}]]*/""
		
		let input1 = document.createElement('input')
	    
		input1.type = 'hidden'
	    input1.name = 'id'
	    input1.value = id
		
	    form.appendChild(input1)
		
		form.action = `/sudo/goAttendance`
		form.method = 'get'
		document.body.appendChild(form)
		form.submit()
	}

	function goMessagesInbox() {
		const form = document.createElement('form')
		
		form.action = `/messages/inbox`
		form.method = 'get'
		document.body.appendChild(form)
		form.submit()
	}
</script>