<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

<!-- [[${member}]] -->
<div layout:fragment="content">
	<div class="container mt-4">
		<form th:action="@{/sudo/update}" method="post" id="form">
			<!-- [[${member.getId()}]] -->
			<div class="form-group input-group">
				<div class="input-group-prepend"><span class="input-group-text">ID</span></div>
				<input type="text" name="id" class="form-control" th:value="${member.id}" readonly>
			</div>
			<div class="form-group input-group">
				<div class="input-group-prepend"><span class="input-group-text">name</span></div>
				<input type="text" name="name" class="form-control" th:value="${member.name}">
			</div>
			<div class="form-group input-group">
				<div class="input-group-prepend"><span class="input-group-text">주민등록번호</span></div>
				<input type="text" name="ssn" class="form-control" th:value="${member.ssn}">
			</div>
			<div class="form-group input-group">
				<div class="input-group-prepend"><span class="input-group-text">핸드폰 번호</span></div>
				<input type="text" name="phone" class="form-control" th:value="${member.phone}">
			</div>
			<div class="form-group input-group">
				<div class="input-group-prepend"><span class="input-group-text">이메일</span></div>
				<input type="email" name="email" class="form-control" th:value="${member.email}">
			</div>
			<div class="form-group input-group">
				<div class="input-group-prepend"><span class="input-group-text">주소</span></div>
				<input type="text" name="address" class="form-control" th:value="${member.address}" id="address" readonly>
				<button type="button" class="btn btn-success ml-2" onclick="searchAddress()">주소 검색</button>
			</div>
			<th:block th:if="${member.annualSalary > 0}">
				<div class="form-group input-group">
					<div class="input-group-prepend"><span class="input-group-text">연봉</span></div>
					<input type="text" name="annualSalary" class="form-control" th:value="${member.annualSalary}">
				</div>
			</th:block>
			
			<!-- <input type="text" name="password" class="form-control" th:value="${member.password}" > -->
			<div class="form-group input-group mt-sm-1 justify-content-center">
				<button class="btn btn-primary memUpdateBtn">정보 수정</button>
				<button class="btn btn-warning pwInitializeBtn ml-2">비밀번호 재발급</button>
				<th:block th:if="${member.isAdmin()}"> <br />
					<button class="btn btn-warning delegateAuthorityBtn ml-2">권한 위임</button>
				</th:block>
				<th:block th:unless="${member.isAdmin() || member.authorities[0].authority.equals('ROLE_SUPER_ADMIN')}"> <br />
					<button class="btn btn-warning exaltationToAdminBtn ml-2">관리자 승격</button>
				</th:block>
				<th:block th:if="${member.isAdmin()}"> <br />
					<button class="btn btn-danger adminRemoveBtn ml-2">관리자 삭제</button>
				</th:block>
				<th:block th:unless="${member.isAdmin() || member.authorities[0].authority.equals('ROLE_SUPER_ADMIN')}"> <br />
					<button class="btn btn-danger memRemoveBtn ml-2">회원 삭제</button>
				</th:block>
				<a th:href="|@{/sudo/allUserList}|" class="text-decoration-none">
					<button type="button" class="btn btn-success ml-2">목록으로</button>
				</a>
			</div>
		</form>
	</div>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script layout:fragment="script" th:inline="javascript">
	const form = document.querySelector("#form")
	const member = /*[[${member}]]*/""
	
	document.querySelector(".memUpdateBtn").addEventListener("click", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	    
	    form.action = `/sudo/update`
	    form.method = 'post'
	    form.submit()
	    
		alert('회원 정보가 수정되었습니다.')
	}, false)
	
	if(!member.admin && !(member.authorities[0].authority == "ROLE_SUPER_ADMIN")) {
		document.querySelector(".memRemoveBtn").addEventListener("click", function(e) {
		    e.preventDefault()
		    e.stopPropagation()
		    
		    form.action = `/sudo/remove`
		    form.method = 'post'
		    form.submit()
		}, false)
	}
	
	if(member.admin) {
		document.querySelector(".adminRemoveBtn").addEventListener("click", function(e) {
		    e.preventDefault()
		    e.stopPropagation()
		    
		    let input1 = document.createElement('input')
		
			input1.type = 'hidden'
			input1.name = 'isAdmin'
			input1.value = true
			    
			form.appendChild(input1)
		    
		    form.action = `/sudo/remove`
		    form.method = 'post'
		    form.submit()
		}, false)
	}
	
	document.querySelector(".pwInitializeBtn").addEventListener("click", function(e) {
	    e.preventDefault()
	    e.stopPropagation() // 토큰 추가?
	    
		form.action = `/sudo/initializePassword`
		form.method = 'post'
		form.submit()
		
		alert('비밀번호가 재발급되었습니다.')
	}, false)
		
	if(member.admin) {
		document.querySelector(".delegateAuthorityBtn").addEventListener("click", function(e) {
		    e.preventDefault()
		    e.stopPropagation()
		    
		    const auth = /*[[${#authentication.name}]]*/""
		    
		    let input1 = document.createElement('input')
	
		    input1.type = 'hidden'
		    input1.name = 'superAdminId'
		    input1.value = auth
		    
		    form.appendChild(input1)
		    
			form.action = `/sudo/delegate`
			form.method = 'post'
			form.submit()
		}, false)
	}
	
	if(!member.admin && !(member.authorities[0].authority == "ROLE_SUPER_ADMIN")) {
		document.querySelector(".exaltationToAdminBtn").addEventListener("click", function(e) {
		    e.preventDefault()
		    e.stopPropagation()
		    
		    /* 연봉 입력 받기 추가 */
		    const sal = prompt("연봉 입력")
		    
		    let input1 = document.createElement('input')
	
		    input1.type = 'hidden'
		    input1.name = 'annualSalary'
		    // input1.value = 10000 /* 임시 숫자 */
		    input1.value = sal
		    
		    form.appendChild(input1)
		    
			form.action = `/sudo/exaltation`
			form.method = 'post'
			form.submit()
		}, false)
	}
	
	function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                   //  document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                   // document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                // document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                // document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>