<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- [[${member}]] -->
<div layout:fragment="content">

	<form th:action="@{/sudo/update}" method="post" id="form">
		<!-- [[${member.getId()}]] -->
		<input type="text" name="id" class="form-control" th:value="${member.id}" readonly>
		<!-- [[${member.getPassword()}]] -->
		<input type="text" name="password" class="form-control" th:value="${member.password}" >
		<button class="btn btn-primary memUpdateBtn">정보 수정</button>
		<button class="btn btn-danger memRemoveBtn">회원 삭제</button>
		<th:block th:if="${member.isAdmin()}"> <br />
			<button class="btn btn-warning delegateAuthorityBtn">권한 위임</button>
		<th:block>
	</form>
</div>

<script layout:fragment="script" th:inline="javascript">
	const form = document.querySelector("#form")

	document.querySelector(".memUpdateBtn").addEventListener("click", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	    
	    form.action = `/sudo/update`
	    form.method = 'post'
	    form.submit()
	}, false)
	
	document.querySelector(".memRemoveBtn").addEventListener("click", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	    
	    form.action = `/sudo/remove`
	    form.method = 'post'
	    form.submit()
	}, false)
	
	document.querySelector(".delegateAuthorityBtn").addEventListener("click", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	    
	    const auth = /*[[${#authentication.name}]]*/""
	    const mem = /*[[${member.id}]]*/""
	    
	    let input1 = document.createElement('input')
	    let input2 = document.createElement('input')

	    input1.type = 'hidden'
	    input1.name = 'superAdminId'
	    input1.value = auth
	    input2.type = 'hidden'
	    input2.name = 'adminId'
	    input2.value = mem
	    
	    form.appendChild(input1)
	    form.appendChild(input2)
	    
		form.action = `/sudo/delegate`
		form.method = 'post'
		form.submit()
	}, false)
</script>