<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link th:href="@{/css/ms/sidebar.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

<div layout:fragment="content">
	<aside class="sidebar">
    	<nav class="nav">
      		<ul>
        		<li><a href="javascript:goAttendance()" class="active">근태 확인</a></li>
        		<th:block th:if="${#authentication.authorities[0].authority.equals('ROLE_SUPER_ADMIN')}">
        			<li><a th:href="|@{/sudo/allUserList}|">인사관리</a></li>
        			<li><a th:href="|@{/sudo/addAdmin}|">직원 등록</a></li>
        		</th:block>
        		<th:block th:if="${#authentication.authorities[0].authority.equals('ROLE_MANAGER')}">
        			<li><a th:href="|@{/shop/list}|">매장관리</a></li>
        		</th:block>
        		<li><a href="javascript:goMessagesInbox()">메시지 확인</a></li>
        		<li><a th:href="|@{/sudo/logout}|">로그아웃</a></li>
      		</ul>
    	</nav>
  	</aside>
  	
	<div class="container mt-4">
		<div id="calendar">	</div>
		<div class="d-flex justify-content-center mt-3 mb-3">
			<!-- <button onclick="goMessagesInbox()" class="mx-2 btn btn-primary">메시지 확인</button> -->
			
			<th:block th:if="${admin.isAttendance}">
				<button onclick="leave()" class="mx-2 btn btn-primary">퇴근</button>
			</th:block>
			<th:block th:unless="${admin.isAttendance}">
				<button onclick="attendance()" class="mx-2 btn btn-primary">출근</button>
			</th:block>
			
			<!-- <a th:href="|@{/sudo/allUserList}|" class="text-decoration-none">
				<button class="mx-2 btn btn-success">이전</button>
			</a> -->
		</div>
	</div>
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script layout:fragment="script" th:inline="javascript">
	const a = /*[[${#authentication.authorities[0].authority}]]*/""
	// console.log(a)

	function attendance() {
		const form = document.createElement('form')
		const tokenName = /*[[${_csrf.parameterName}]]*/""
		const token = /*[[${_csrf.token}]]*/""
		const id = /*[[${#authentication.name}]]*/""
		
		let input1 = document.createElement('input')
		let input2 = document.createElement('input')

		input1.type = 'hidden'
	    input1.name = tokenName
	    input1.value = token
	    
		input2.type = 'hidden'
	    input2.name = 'id'
	    input2.value = id
		
	    form.appendChild(input1)
	    form.appendChild(input2)
		
		form.action = `/sudo/attendance`
		form.method = 'post'
		document.body.appendChild(form)
		form.submit()
	}
	
	function leave() {
		const form = document.createElement('form')
		const tokenName = /*[[${_csrf.parameterName}]]*/""
		const token = /*[[${_csrf.token}]]*/""
		const id = /*[[${#authentication.name}]]*/""
		
		let input1 = document.createElement('input')
		let input2 = document.createElement('input')

		input1.type = 'hidden'
	    input1.name = tokenName
	    input1.value = token
	    
		input2.type = 'hidden'
	    input2.name = 'id'
	    input2.value = id
		
	    form.appendChild(input1)
	    form.appendChild(input2)
		
		form.action = `/sudo/leave`
		form.method = 'post'
		document.body.appendChild(form)
		form.submit()
	}
	
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
	    var calendar = new FullCalendar.Calendar(calendarEl, {
	    	initialView: 'dayGridMonth',
	    	locale: 'ko', // 한국어로 설정
	    	titleFormat: { year: 'numeric', month: 'long' }, // 연도, 월 표시형식 설정
	    	/* events: function(fetchInfo, successCallback, failureCallback) {
	            fetch('/sudo/getWorkLog')
	            .then(response => response.json())
	            .then(events => successCallback(events))
	            .catch(error => failureCallback(error));
	        } */
	    });
	    
		calendar.render();
	});
	
	$(document).ready(function() {
		var csrfToken = $("input[name='_csrf']").val(); // CSRF 토큰 가져오기
		var id = /*[[${#authentication.name}]]*/""
    		
        //Ajax로 전송
        $.ajax({
        	url : '/sudo/getWorkLog',
        	data : {
        		id : id
        	},
        	type : 'GET',
        	headers: { "X-CSRF-TOKEN": csrfToken }, // CSRF 토큰 추가
        	success : function(response) {
        		var events = [];
        		
        		for(var i = 0; i < response.length; i++) {
        			var res = response[i];
        			var event = {
        				title: res.title,
        				start: res.start
        			};
        			
        			events.push(event);
        		};
        		
        		console.log('Events:', events);
        		console.log('n: ', response.length);
        		console.log('r: ', response);
                initializeFullCalendar(events);
        	},
        	
        	error: function(xhr, status, error) {
            	console.error("AJAX 오류:", error); // 오류 메시지 확인
        	}
        }); //End Ajax
    })
    
    function initializeFullCalendar(event) {
		var calendarEl = document.getElementById('calendar');
	    var calendar = new FullCalendar.Calendar(calendarEl, {
	    	initialView: 'dayGridMonth',
	    	locale: 'ko', // 한국어로 설정
	    	titleFormat: { year: 'numeric', month: 'long' }, // 연도, 월 표시형식 설정
	    	events: event/* ,
	    	dateSet: function (info) {
	    		currentMonth = info.view.title;
	    		calendar.refetchEvents();
	    	} */
	    });
	    
		calendar.render();
	}
	
	function goAttendance() {
		const form = document.createElement('form')
		const id = /*[[${#authentication.name}]]*/""
		
		let input1 = document.createElement('input')
	    
		input1.type = 'hidden'
	    input1.name = 'id'
	    input1.value = id
		
	    form.appendChild(input1)
		
		form.action = `/sudo/goAttendance`
		form.method = 'get'
		document.body.appendChild(form)
		form.submit()
	}

	function goMessagesInbox() {
		const form = document.createElement('form')
		
		form.action = `/messages/inbox`
		form.method = 'get'
		document.body.appendChild(form)
		form.submit()
	}
</script>