<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

<div layout:fragment="content">
	<section class="d-flex vh-100">
	    <div class="container-fluid row justify-content-center align-content-center">
	        <div class="card" style="border-radius: 1rem;">
	            <div class="card-body p-5 text-center">
					<h1>회원가입 페이지</h1>
					<form th:action="@{/user/register}" method="post" id="form">
						<div class="form-group input-group">
							<input type="text" name="id" id="id" class="form-control mt-1" placeholder="ID" required>
						</div>
						<label id="idLabel"></label>
						<div class="form-group input-group">
							<input type="text" name="password" class="form-control" placeholder="비밀번호" required>
						</div>
						<div class="form-group input-group">
							<input type="text" name="name" class="form-control" placeholder="이름" required>
						</div>
						<div class="form-group input-group">
							<input type="text" name="ssn1" class="form-control ssnFront" placeholder="주민등록번호 앞자리" required> -
							<input type="password" name="ssn2" class="form-control ssnEnd" placeholder="주민등록번호 뒷자리" required>
						</div>
						<div class="form-group input-group">
							<input type="text" class="form-control" value="010" readonly> -
							<input type="text" name="phone1" class="form-control phone1" placeholder="핸드폰 앞자리" size="5" required> -
							<input type="text" name="phone2" class="form-control phone2" placeholder="핸드폰 뒷자리" size="5" required>
						</div>
						<div class="form-group input-group">
							<input type="email" name="email" class="form-control email" placeholder="email" required>
						</div>
						<div class="form-group input-group justify-content-center">
							<span class="mr-2">지역 선택: </span>
							<select name="location" id="location">
								<option value="Seoul">서울</option>
								<option value="Busan">부산</option>
								<option value="Incheon">인천</option>
								<option value="Jeju">제주</option>
							</select>
						</div>
						<div class="form-group input-group">
							<input type="text" name="address" id="address" class="form-control address" placeholder="상세 주소" required readonly>
							<button type="button" class="btn btn-success ml-2" onclick="searchAddress()">주소 검색</button>
						</div>
						<div class="form-group input-group mt-sm-3 justify-content-center">
							<input type="submit" class="btn btn-primary buttonSubmit" value="회원 가입"/>
							<button class="btn btn-success goBackBtn ml-2" >이전</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script layout:fragment="script" th:inline="javascript">
	document.querySelector(".ssnFront").addEventListener("keyup", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	
	    const val = document.querySelector(".ssnFront").value
	    
	    if(val.length == 6) {
	    	document.querySelector(".ssnEnd").focus()
	    }
	}, false)
	
	document.querySelector(".ssnEnd").addEventListener("keyup", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	
	    const val = document.querySelector(".ssnEnd").value
	    
	    if(val.length >= 7) {
	    	document.querySelector(".ssnEnd").value = val.substring(0, 7)
	    }
	}, false)
	
	document.querySelector(".phone1").addEventListener("keyup", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	
	    const val = document.querySelector(".phone1").value
	    
	    if(val.length == 4) {
	    	document.querySelector(".phone2").focus()
	    }
	}, false)
	
	document.querySelector(".phone2").addEventListener("keyup", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	
	    const val = document.querySelector(".phone2").value
	    
	    if(val.length == 4) {
	    	document.querySelector(".email").focus()
	    }
	}, false)
	
	document.querySelector("#location").addEventListener("change", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	    
	    /* 지역 선택 값 상세 주소로 */
	}, false)
	
	document.querySelector(".goBackBtn").addEventListener("click", function(e) {
	    e.preventDefault()
	    e.stopPropagation()
	    
		location.href = "/user/logout"
	}, false)
	
	function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                   //  document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                   // document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                // document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                // document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
	
	$(document).ready(function() {
		$("#idLabel").css("display", "none");
		$(".buttonSubmit").css("display", "none");
    	//ID 중복 확인
    	//id를 입력할 수 있는 input text 영역을 벗어나면 동작한다.
    	$("#id").on("focusout", function() {
    		var id = $("#id").val();
    		
    		if(id == '' || id.length == 0) {
    			$("#idLabel").css("color", "red").text("공백은 ID로 사용할 수 없습니다.");
    			return false;
    		}
    		
    		
    		var csrfToken = $("input[name='_csrf']").val(); // CSRF 토큰 가져오기
    		
        	//Ajax로 전송
        	$.ajax({
        		url : '/user/confirmId',
        		data : {
        			id : id
        		},
        		type : 'GET',
        		headers: { "X-CSRF-TOKEN": csrfToken }, // CSRF 토큰 추가
        		// dataType : 'json',
        		success : function(result) {
        			$("#idLabel").css("display", "inline-block");
        			$(".buttonSubmit").css("display", "inline-block");
        			
        			if (result == true) {
        				$("#idLabel").css("color", "blue").text("사용 가능한 ID 입니다.");
        			} else{
        				$("#idLabel").css("color", "red").text("사용 불가능한 ID 입니다.");
        				$("#id").val('');
        			}
        		},
        		error: function(xhr, status, error) {
                    console.error("AJAX 오류:", error); // 오류 메시지 확인
                }
        	}); //End Ajax
    	});
    })
</script>