@charset "UTF-8";

.sidebar {
	position: fixed;
	width: 10%;
	height: 100vh;
	background: #312450;
	font-size: 0.85em;
	top: 0;
	left: 0;
}

.nav {
	position: relative;
	margin: 0 15%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
}

.nav ul {
	list-style: none;
	margin: 0;
    padding: 0;
}

li {
	position: relative;
	margin: 3.2em 0;
}    

.nav a {
	line-height: 5em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.4em;
	color: rgba(255, 255, 255, 0.85);
	display: block;
	transition: all ease-out 300ms;
}

.nav a:hover {
	color: #716490;
	font-size: 1.10em;
}

.nav a.active {
	color: #716490;
}

&.active a {
	color: white;
}
    
&:not(.active)::after {
	opacity: 0.2;
}

&:not(.active):hover a {
	color: rgba(#FFF, 0.75);
}
/*     
&::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.2em;
	background: black;
	left: 0;
	bottom: 0;
    background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
    background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
    background-image: -o-linear-gradient(to right, #5e42a6, #b74e91);
    background-image: -webkit-gradient(linear, 100% 0, 0 0, from(#5e42a6), to(#b74e91));
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
}
*/