<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart/read</title>
</head>
<body>
<h1>Cart/read</h1>

<table border="1">
   <tr>
       <th>번호</th>
       <td>[[${dto.id}]]</td>
   </tr>
   <tr>
       <th>상품명</th>
       <td>[[${dto.product_name}]]</td>
   </tr>
   <tr>
       <th>상품코드</th>
       <td>[[${dto.product_code}]]</td>
   </tr>
   <tr>
       <th>수량</th>
       <td>[[${dto.count}]]</td>
   </tr>
   <tr>
       <th>개당 가격</th>
       <td>[[${dto.price}]]</td>
   </tr>
   <tr>
       <th>총 가격</th>
       <td>[[${dto.total_price}]]</td>
   </tr>
</table>

<!-- 버튼 그룹 -->
<div>
   <a th:href="@{/cart/modify(id=${dto.id})}">
       <button type="button">수정</button>
   </a>
   
   <form action="/cart/remove" method="post" style="display: inline;">
       <input type="hidden" name="id" th:value="${dto.id}">
       <button type="submit">삭제</button>
   </form>
   
   <a th:href="@{/cart/list}">
       <button type="button">목록</button>
   </a>
</div>

</body>
</html>